<!--<p id="notice"><%= notice %></p>-->

<h1>
  <%= @team.team_name %>
</h1>
<br/>
<p>
  <strong>Total score:</strong>
  <%= @team.total_score %>
</p>



<%unless @team.game.winnerTeam.present?%>
	<%= link_to 'Edit', edit_team_path(@team) %> |
<% end %>
<%= link_to 'Back To Game', game_path(@team.game) %>


<hr />
<h3>Players</h3>

<%= render 'player_details' %>

<% if @team.teamSize != @team.game.numberOfPlayers %>
	<%= link_to 'Add Player', "#{new_player_path}/#{@team.id}" %>
<% end %>