<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Game name|</th>
      <th>Score limit|</th>
      <th>Number of players|</th>
      <th>Winner team|</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.game_name %></td>
        <td><%= game.score_limit %></td>
        <td><%= game.number_of_players %></td>
        <td><%= game.winner_team %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
