<!--<p id="notice"><%= notice %></p>-->


<h1>Game Setup</h1>


<%= render 'game_details' %>
<%= render 'team_details' %>


<% if !@game.winnerTeam.present? %>
	<%= link_to 'Add Team', "#{new_team_path}/#{@game.id}"%>
	<% if @game.teamsReady %>
	| <%= link_to 'Start Game', "/play/#{@game.id}" %>
	<% end %>
<% end %>
